

 body{
   background-image: url("IMMAGINE/background.jpg");
   background-size: cover;
   background-repeat: no-repeat;
 }

#cointener-box{
    width:1200px;
  	height:650px;
  	background:#000000A8;
    border-radius: 15px;
    margin:auto;
    margin-top: 25px;
}

header >img{
  width: 200px;
  display: block;
  margin: auto;
  padding-top: 30px;
}

header{
  color: #75df14;
  text-align: center;
}

nav{
background-color: #75df14;
width: 900px;
margin: auto;
}
.navbutton{
  width: 330px;
  margin: auto;
  padding: 10px;
}

section{
  list-style-type: square;
  color: white;
  margin-left: 150px;
  line-height: 0.5em;
}

.carica-gino22{
    height: 20px;
    width: 250px;
    background-color: #f5b453;
}


.carica-mike24{
    height: 20px;
    width: 450px;
    background-color: #66c425;
}

.carica-fede154{
    height: 20px;
    width: 130px;
    background-color: #be4141;
}
